<form
  [formGroup]="formGroup"
  class="flex w-full max-w-96 flex-col gap-4 place-self-center"
>
  <label class="flex flex-col" for="title">
    Title
    <input
      #title
      class="border border-neutral-200 border-b-neutral-500 p-4"
      type="text"
      placeholder="Title"
    />
  </label>

  <label class="flex flex-col" for="title">
    Post content
    <input
      class="border border-neutral-200 border-b-neutral-500 p-4"
      type="text"
      placeholder="Post content"
    />
  </label>

  <button
    class="border-2 border-blue-500 bg-blue-500 p-4 text-white hover:bg-transparent hover:text-blue-500"
    type="button"
    (click)="onSubmitHandler()"
  >
    Submit
  </button>
</form>
